body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  background-color: #f9fafb;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-menu.ant-menu-dark{
  height:100vh;
}

.SectionInner {
  background-color: #fff;
  padding: 15px;
  border: 1px solid rgba(0,0,0,.0625);
  border-radius: 4px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
